* {
  font-family: calibri; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo {
  display: flex; }

.text-logo {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px; }

.orange {
  font-size: 40px;
  color: orange; }

.rabbit {
  font-size: 40px;
  text-transform: uppercase;
  color: grey;
  font-weight: 600;
  letter-spacing: 0px; }

.nav {
  display: flex;
  align-items: center;
  align-items: flex-end;
  margin-top: 20px; }

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px; }

.text-item {
  color: grey;
  font-size: 18px;
  margin-top: 10px; }

.hero {
  background-image: url("../img/big-orange-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  border-top: 3px solid orange;
  border-bottom: 3px solid orange; }

.hero .container {
  height: 100%;
  display: flex;
  align-items: center; }

.hero-contetnt {
  font-weight: bold;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  text-transform: uppercase; }

.first-text {
  padding: 5px 10px 5px 10px;
  color: orange;
  background-color: rgba(128, 128, 128, 0.8);
  margin-bottom: 20px; }

.second-text {
  color: grey;
  background-color: rgba(255, 166, 0, 0.8);
  padding: 5px 10px 5px 10px; }

.main-content {
  display: flex;
  flex-direction: column;
  margin-top: 15px; }

.main-content-one-text {
  display: flex; }

.content-one-text {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 0px 10px 0px 5px; }

.one-text {
  text-align: justify; }

.open-text {
  text-align: right;
  color: orange; }

.main-title-text {
  text-align: center;
  color: orange;
  font-size: 35px;
  text-decoration: underline;
  margin-top: 15px; }

.main-content-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.content-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 33%;
  font-size: 18px; }

.title-content-two {
  margin: 15px 0 15px 0; }

.span {
  color: orange; }

.text-content-two {
  text-align: justify;
  width: 70%; }

.form-content {
  width: 100%; }

.form {
  margin: 10px 10px 20px 10px; }

.form > label {
  display: flex;
  justify-content: space-between;
  color: orange;
  margin-top: 20px;
  font-size: 20px; }

label > input {
  width: 90%; }

label:last-child {
  height: 60px; }

.button {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 30px; }

.button > button {
  text-align: center;
  padding: 10px 25px 10px 25px;
  background-color: orange;
  color: white;
  font-size: 20px; }

.footer {
  background-color: orange;
  color: wheat;
  padding: 5px 0px 5px 0px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase; }

/*# sourceMappingURL=maps/main.css.map */
